.red {
    background-color: red;
    width: 50px;
    padding: 50px;
    border-radius: 50px
}

.yellow {
    background-color: yellow;
    width: 50px;
    padding: 50px;
    border-radius: 50px
}

.green {
    background-color: green;
    width: 50px;
    padding: 50px;
    border-radius: 50px;
}

.on {
    box-shadow: 0 0 15px rgb(236, 236, 122) 
}

.container {
    background-color: black;
    display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0dvb;
  padding: 25px;
  margin: 50px;
  width: fit-content;
  border-radius: 10px;
}